.row:hover {
    background-color: #efefef;
}

.row_number {
  opacity: 0.5;
  font-size: 75%;
  text-decoration: none;
  color: #888;
}

.undefined_value {
  font-style: italic;
  font-size: 80%;
  opacity: .9;
}

.opening, .opened {
  opacity: 0.8;
  font-size: 80%;
}

.found_records td,
.found_records th {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: .9em;
}
