.row:hover {
    background-color: #efefef;
}

.row_number {
  opacity: 0.5;
  font-size: 75%;
  text-decoration: none;
  color: #888;
}

.undefined_value {
  font-style: italic;
  font-size: 80%;
  opacity: .9;
}
